*{
    margin: 0;
}

/*header section*/

.logo-title{
    font-size: 60px;
}

.menu-bar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

.menu-item{
    display: flex; 
    margin-right: 150px;  
}

.menu-item li{
    list-style: none;
    cursor: pointer;
    margin: 5px;
    padding: 10px 10px 0 10px;
}

.menu-item li a:hover{
    color: blue;
}
.menu-item li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}


.home{
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.home-left{
    margin-left: 50px;
}

.home-right{
    margin-left: 50px;
      
}

.title{
    font-size: 70px;
}

.description1{
    color: red;
    font-size: 20px;
    font-weight: 700;
}

.description{
    font-size: 20px;
    font-weight: 700;
}

.learn-button{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    padding: 20px 60px;
}

.learn-button:hover{
    background-color: blue;
}

.home-image img{
    height: 570px;
    width: 620px;
}


/*box-container section*/

.box-section{
    display: flex;
    justify-content: space-evenly;
    
}

.box-title{
    text-align: center;
    font-size: 50px;
    margin-top: 60px;
}

.box-icon > img{
    width: 70px;
}

.box-icon{
    text-align: center;
}

.box{
    border: 1px solid black;
    border-radius: 7px;
    padding: 25px;
    margin: 90px;
    width: 550px;
    box-shadow: 5px 5px 5px gray;
}

.box-description{
    text-align: justify;
}

.box:hover{
    transition: .5s;
    border-radius: 10px;
    margin-top: -10px;
    border: 1px solid rgb(226, 30, 30);
}

.box-link{
    margin-left: 110px;
}



/*about-container section*/

.about-container{
    background-color: rgb(23, 20, 20);
    color: white;
    height: 730px;
}

.about-title{
    font-size: 50px;
    text-align: center;
    padding: 30px;
}

.about{
    display: flex;
}

.about-left > hr{
    margin: 0 150px;
}

.about-right{
    padding-right: 100px;
}
.about-right-title{
    font-size: 40px;
}
.about-right p{
    color: rgb(172, 173, 173);
    font-size: 22px;
    font-weight: 700;
    padding: 20px 0;
}

.about-image{
    display: flex;
    margin: 30px;
    padding: 50px;
    margin-left: 80px;
}

.about-image img{
    height: 500px;
    padding-left: 40px;
    width: 250px;
    transform: skewY(-15deg);
}

.list-item{
    font-size: 18px;
    list-style: square;
}

.about-button{
    margin: 30px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 20px 45px;
}
.about-button:hover{
    background-color: blue;
}


/*workout-container section*/

.workout-container{
    margin: 80px 0;
}
.workout{
    display: flex;
    justify-content: space-evenly;
    background-image: url("./images/shape/Group_33094_1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    margin: 0 auto;
    height: 200px;
    width: 700px;
    border-radius: 20px;
}

.workout-title{
    color: white;
}

.workout-button{
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 12px 20px;
}

.workout-button:hover{
    background-color: blue;
}


/*service-container section*/

.service{
    display: flex;
    justify-content: space-evenly;
    height: 620px;
    margin-bottom: 100px;
}

.service-title{
    text-align: center;
    font-size: 50px;
    margin-top: 60px;
}

.service-box{
    box-shadow: 10px 10px 10px gray;
    border-radius: 7px;
    margin: 80px;
    text-align: justify;
    width: 580px;
}

.service-contant{
    padding: 15px;
}

.service-image > img{
    width: 350px;
    border-radius: 5px;
}

.service-buttom{
    display: flex;
    justify-content: space-between;
}

.service-buttom h3{
   margin-top: 15px;
   font-size: 30px;
}

.service-contant p{
    color: red;
    font-size: 18px;
    font-weight: 700;
    padding: 5px 0;
}


/*footer section*/

.footer-conteiner{
    height: 200px;
    margin: 0 100px;
    
}

.footer{
    text-align: center;
    margin-top: 55px;
}

.footer p{
    padding: 10px;
}

.footer > p > a{
    color: red;
    text-decoration: none;
}

.footer > p > a:hover{
    text-decoration: underline;
}

.footer > h5 > a{
    color: black;
    text-decoration: none;
    margin-left: 25px;
}

.footer > h5 > a:hover{
    color: red;
    text-decoration: underline;
}