*{
    margin: 0;
}

.logo-title{
    font-size: 60px;
}

.menu-bar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

.menu-item{
    display: flex; 
    margin-right: 150px;  
}

.menu-item li{
    list-style: none;
    cursor: pointer;
    margin: 5px;
    padding: 10px;
}

.menu-item li a:hover{
    color: blue;
}
.menu-item li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}








.home{
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.home-left{
    margin-left: 50px;
}

.home-right{
    margin-left: 50px;
      
}

.title{
    font-size: 70px;
}

.description1{
    color: red;
    font-size: 20px;
    font-weight: 700;
}

.description{
    font-size: 20px;
    font-weight: 700;
}

.home-button{
    background-color: red;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    padding: 20px 60px;
}








.box{
    display: flex;
    justify-content: space-evenly;
    
}

.box-title{
    text-align: center;
    font-size: 50px;
    margin-top: 60px;
}

.box-icon > img{
    width: 70px;
}

.box-icon{
    text-align: center;
}

.box1{
    border: 1px solid black;
    border-radius: 7px;
    padding: 25px;
    margin: 90px;
    text-align: justify;
    width: 550px;
    box-shadow: 5px 5px 5px gray;
}






.box-contant a{
    text-align: center;
}










.service{
    display: flex;
    justify-content: space-evenly;
    height: 620px;
    margin-bottom: 100px;
}

.service-title{
    text-align: center;
    font-size: 50px;
    margin-top: 60px;
}

.service-box{
    box-shadow: 10px 10px 10px gray;
    border-radius: 7px;
    margin: 80px;
    text-align: justify;
    width: 580px;
}

.service-contant{
    padding: 15px;
}

.service-image > img{
    width: 350px;
    border-radius: 5px;
}

.service-buttom{
    display: flex;
    justify-content: space-between;
}

.service-buttom h3{
   margin-top: 15px;
   font-size: 30px;
}

.service-contant p{
    color: red;
    font-size: 18px;
    font-weight: 700;
    padding: 5px 0;
}









.footer-conteiner{
    height: 200px;
    margin: 0 100px;
    
}

.footer{
    text-align: center;
    margin-top: 55px;
}

.footer p{
    padding: 10px;
}

.footer > p > a{
    color: red;
    text-decoration: none;
}

.footer > p > a:hover{
    text-decoration: underline;
}

.footer > h5 > a{
    color: black;
    text-decoration: none;
    margin-left: 25px;
}

.footer > h5 > a:hover{
    color: red;
    text-decoration: underline;
}