*{
    margin: 0;
}

.logo-title{
    font-size: 60px;
}

.menu-bar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

.menu-item{
    display: flex; 
    margin-right: 150px;  
}

.menu-item li{
    list-style: none;
    cursor: pointer;
    margin: 5px;
    padding: 10px;
}

.menu-item li a:hover{
    color: blue;
}
.menu-item li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.home{
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.home-left{
    margin-left: 50px;
}

.home-right{
    margin-left: 50px;
      
}

.title{
    font-size: 70px;
}

.description1{
    color: red;
    font-size: 20px;
    font-weight: 700;
}

.description{
    font-size: 20px;
    font-weight: 700;
}

.home-button{
    background-color: red;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    padding: 20px 60px;
}






.footer-conteiner{
    height: 200px;
    
}

.footer{
    text-align: center;
    margin-top: 70px;
}

.footer p{
    padding: 10px;
}

.footer > p > a{
    color: red;
    text-decoration: none;
}

.footer > p > a:hover{
    text-decoration: underline;
}

.footer > h5 > a{
    color: black;
    text-decoration: none;
    margin-left: 25px;
}

.footer > h5 > a:hover{
    color: red;
    text-decoration: underline;
}